@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
    background-color: #111111;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.title {
    margin-left: 10px;
}

.title h1 {
    margin-bottom: 0px;
}

header nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
}

header nav div {
    padding: 5px;
    margin-right: 25px;
    font-size: large;
}

header nav div a {
    text-decoration: none;
    color: white;
}

.reason {
    background-color: #f6f6f6;
    padding: 40px;
}

body h1 {
    font-size: 35px;
    font-weight: 400;
    margin-left: 60px;
    margin-right:60px;
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    height: 185px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    background-color: white;
    opacity: 0.65;
    z-index: 10;
    cursor: pointer;
    font-family: 'Montserrat', 'serif';
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay p {
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: justify;
    margin: 0 60px;
}

body p {
    font-size: 20px;
    margin-left: 60px;
    margin-right:60px;
    font-weight: 200;
}

body ul {
    font-size: 20px;
    margin-left: 60px;
    margin-right:60px;
    font-weight: 200;
}

body li {
    margin-bottom: 10px;
}

.profile {
    display: flex;
    margin-left: 50px;
}

.profile-picture {
    margin-left: 500px;
    padding: 5px;
    background-color: #f6f6f6;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    margin-left: 60px;
    margin-right: 60px;
}

footer img {
    vertical-align: unset;
}